<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>842724578520-0kbs78pbmqb04keov1d6n1oodttkvujc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.842724578520-0kbs78pbmqb04keov1d6n1oodttkvujc</string>
	<key>API_KEY</key>
	<string>AIzaSyDTZ9sJ2hZdwQ_LgfTjHGJJkIyz82vsUK8</string>
	<key>GCM_SENDER_ID</key>
	<string>842724578520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elfaa.elfaa</string>
	<key>PROJECT_ID</key>
	<string>elfaa-2023</string>
	<key>STORAGE_BUCKET</key>
	<string>elfaa-2023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:842724578520:ios:6f7dc95590e295736ff3ad</string>
</dict>
</plist>