<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>856735458268-nnhu4mlq5gudi2idpf7ivte5mpheam75.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.856735458268-nnhu4mlq5gudi2idpf7ivte5mpheam75</string>
	<key>API_KEY</key>
	<string>AIzaSyBqFALOZZsAV7rdA92W44BWn9-JY6sMtjc</string>
	<key>GCM_SENDER_ID</key>
	<string>856735458268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.elfaa</string>
	<key>PROJECT_ID</key>
	<string>elfaa-2022</string>
	<key>STORAGE_BUCKET</key>
	<string>elfaa-2022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856735458268:ios:1ec33a4991ada537bc2519</string>
</dict>
</plist>